---
import Base from '../_includes/base.astro'
---

<Base title="base">
<h1>
	hola
</h1>
// para que se vea el componente debemos agregar "client:visible"
<website-example client:visible name="David Lezama"></website-example>
</Base>